{% extends "base.html" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>
<form method="post" class="stack-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" class="btn">Enregistrer</button>
    <a href="{% url 'catalog:produit_liste' %}">Annuler</a>
</form>
{% endblock %}
